@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
    .transitioned {
        @apply transition-all duration-500 ease-[cubic-bezier(0.075,0.82,0.165,1)];
    }
    .myContainer {
        @apply max-w-[1300px] mx-auto box-content px-[15px];
    }

    .fontText {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .fontTitle {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
    }

    :root {
        --color-text: #000000;
        --color-fixed: linear-gradient(90deg, #54fe95, #00ffcc); 
        --color-background: linear-gradient(135deg, #e0ffe0, #ccfff2);
      }
      
      :where(.dark, .dark *) {
        --color-text: #ffffff;
        --color-fixed: linear-gradient(135deg, #123720, #0f3237); 
        --color-background: linear-gradient(90deg, #042a20, #06443d);
      }
      
}